<div class="container-fluid">
    <div class="contaner">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar fixed-top navbar-expand-lg  scrolling-navbar" style="background-color: rgb(190, 190, 189);">
                    <div class="container">
                        <a class="navbar-brand" href=""> <strong class="mr-4 brand"> My Services</strong></a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <form class="form-inline" method="get" action="">
                                        <div class="md-form my-0">
                                            
                                        </div>
                                    </form>
                                </li>
                            </ul>
                            <ul class="navbar-nav navbar-right">
                                <button>Register</button>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" style="color:white; font-weight: bolder;"
                                       aria-haspopup="true"
                                       aria-expanded="false">Name
                                    </a>
                                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                        <a href="" class="text-secondary text-center dropdown-item">Log Out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <!--  -->
            <div class="container-fluid bg">
            </div>
            <div class="jumbotron-fluid"> <br>
                <p>Welcome to Myservices <br>
                Kenyan Citizens and Foreign Residents can now apply for Government & Private services and pay via mobile money, debit Cards and Myservices agents.</p>
            </div>
        </div>
    </div>
</div>