legend{
    color: brown;
    text-align: center;
    border-bottom: rgb(201, 199, 198) 1px solid;
}
.container-fluid{
    background-color: rgb(201, 199, 198);
    height: 100vh;
}
.card{
    margin-top: 6%;
    margin-top: 30px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgb(201, 199, 198), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    }
.card:hover {
    box-shadow: 0 10px 20px rgb(201, 199, 198), 0 4px 8px rgba(0, 0, 0, .06);
}
button{
    padding: 1.5px;
}
.bt{
    border-bottom: solid 2px rgb(194, 193, 193);
}
.br{
    border-top: none;
}