<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Service
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Service</th>
                                    <th scope="col">Fee(Kshs)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="bt"> 
                                    <td>Application Fee</td>
                                    <td>250</td>
                                  </tr>
                                </tbody>
                            </table>
                            <div>
                                <p style="font-size: x-small;">
                                    Issue? Email: @gmail.com <br>
                                    Working Hours: 8:00am - 5:00pm
                                </p>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Apply now</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
